//////////// colors
$dark-1:#30332E;
$dark-2:#0c0a3e;
$dark-3:#506690;
$dark-4:#1E1E24;
$light-1:#efefef;
$light-2:#fffcf2;
$light-3:#d9d9d9;
$light-4:#c2c4d6;
$purple-1:#47126b;
$purple-2:#6d23b6;
$purple-3:#822faf;
$blue-1:#219ebc;
$blue-2:#16697a;
$blue-3:#caf0f8;
$red-1:#9a031e;
$orange-1:#f4a261;
$pink-1:#ffcdb2;
$green-1:#00dfc4;
//////////// btn
$border-radius:20px;
$input-btn-padding-x:1.1rem;
$btn-border-radius-sm:20px ;
$btn-padding-y-sm:0.5rem;
$btn-padding-x-sm:1rem;
$btn-padding-x-lg:2rem;
$btn-border-radius-lg:33px;
/////////// navbar
$navbar-brand-font-size:2rem;
$navbar-padding-y:  0;
$navbar-nav-link-padding-x: 1rem;
///////////// list group
$list-group-border-color:none;
$list-group-border-width: 0;
$list-group-active-color:#335eea;
$list-group-active-bg:transparent;
$list-group-item-padding-y:0.3rem;
$list-group-item-padding-x:0.1rem;
$list-group-bg:transparent;